                                            * {
                                                box-sizing: border-box;
                                            }
                                            
                                            .banner-text {
                                                text-align: center;
                                                font-weight: 300;
                                                color: #f90;
                                                background: url(/images/nav.jpg)center/cover fixed no-repeat;
                                            }
                                            
                                            .txt-subtitle {
                                                color: red;
                                            }
                                            
                                            .banner-text h2 {
                                                margin-top: -30px;
                                            }
                                            
                                            .video-title {
                                                text-align: center;
                                                background: rgba(0, 0, 0 0.7);
                                            }
                                            
                                            .carousel {
                                                min-height: 45vh;
                                                border: 2px solid rgb(253, 242, 242);
                                                ;
                                            }
                                            
                                            .carousel-inner {
                                                border: 1px solid #fff;
                                            }
                                            
                                            .mycol {
                                                border: 2px solid red;
                                                min-height: vh;
                                            }
                                            
                                            .newvideo {
                                                min-height: 25vh;
                                                border: 2px;
                                            }
                                            
                                            .categoryvid {
                                                min-height: 40vh;
                                                border: 1px;
                                            }
                                            
                                            .myhf {
                                                border: 2px solid red;
                                                min-height: 15vh;
                                            }
                                            
                                            .myh {
                                                border: 2px solid grey;
                                                min-height: 10vh;
                                            }
                                            
                                            .playlist {
                                                min-height: 50vh;
                                                border: 2px solid;
                                            }
                                            
                                            .recent {
                                                min-height: 50vh;
                                                border: 1px solid;
                                            }
                                            
                                            .margin {
                                                margin-top: 90px;
                                            }
                                            
                                            .title-area {
                                                color: black;
                                                font-size: 10px;
                                                padding: 0px;
                                            }
                                            
                                            .video-col {
                                                background: rgba(0, 0, 0, 0.5);
                                                border-radius: 1px;
                                                -webkit-border-radius: 1px;
                                                -moz-border-radius: 1px;
                                                -ms-border-radius: 1px;
                                                -o-border-radius: 1px;
                                            }
                                            
                                            .active {
                                                background-color: rgb(252, 236, 8);
                                                color: white;
                                            }
                                            
                                            .video-view {
                                                background: yellow;
                                                border-radius: 2px;
                                                -webkit-border-radius: 2px;
                                                -moz-border-radius: 2px;
                                                -ms-border-radius: 2px;
                                                -o-border-radius: 2px;
                                            }
                                            /*User profile icon and page style */
                                            /*Form  style on user registration page*/
                                            
                                            .signup-form {
                                                width: 100%;
                                                height: 80%;
                                                display: flex;
                                                flex-wrap: wrap;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                background: url(/images/car.jpeg)center/cover fixed no-repeat;
                                            }
                                            
                                            .form-reg {
                                                width: 400px;
                                                background: rgba(0, 0, 0, 0.6);
                                                margin-top: -90px;
                                            }
                                            
                                            .form-control {
                                                padding: 5px;
                                                margin-top: 5px;
                                            }
                                            /* User registration style ends */
                                            /*Footer style from partials*/
                                            
                                            .footer-container {
                                                background: #000;
                                                text-align: center;
                                            }
                                            
                                            .footer-container p {
                                                color: aliceblue
                                            }
                                            
                                            .bottom-footer {
                                                width: 100%;
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: space-around;
                                                align-items: center;
                                                opacity: 0.9;
                                            }
                                            
                                            .footer-headtxt {
                                                color: white;
                                                font-size: 20px;
                                            }