{{>header}}
{{>navbar}}

<div>
    <form>
        <input type="text" name="username">
        <input type="text" name="username">
        <input type="button" name="btn-login" id="btnlogin">
    </form>
</di>