 {{> header}}
 {{> navbar}}


<div class="all_container">

    

    <img style="background:white;border:gray solid 1px;border-radius: 4rem; max-width: 10%;max-height: 10%;"
         src="/{{userData.image}}" alt=" {{userData.name}} ">
    <h1 style="font:18px Arial;color: green">You are already Logged In as {{userData.name}} </h1>
    <h5 style="font:18px Arial;color: black"> with {{userData.email}} .</h5>

    <a href="/">Go to Home</a>




</div>

 {{> footer}}