{{> header}}
{{> navbar}}


<!-- Videos Uploasder -->

<div class="container">
  <div class="jumbotron">
    <form class="form-inline mt-2 mt-md-0 ml-auto" method="post" action="/user/create_playlist" enctype="multipart/form-data">
      <input class="btn btn-outline-success my-2 my-sm-0" type="text" name="vid_name" placeholder="Enter Video name">
      </br>
      <input class="btn btn-outline-success my-2 my-sm-0" type="text" name="vid_duration" placeholder="Enter video duration">
      </br>
      <input id="files_picker" class="btn btn-outline-success my-2 my-sm-0" type="file" name="video" aria-label="Pick Video">
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="btnSubmit" value="Upload" />

    </form>
</div>
</div>
{{> footer}}