 {{> header}}
 {{> navbar}}

<div class="all_container">

    <p> <h1  style="color:green">Hey {{userData.email}}  </h1></p>

    <p> <h5> {{error}} </h5></p> <br/>
       
     <a href="#"> Click Here</a>

</div>

 {{> footer}}