<%- include('header'); -%>
<%- include('navbar'); -%>



<div class="container">


    <div class="page-header">

        <h3 style="font:16px Arial;margin: 20px;color: darkgreen">
            User Login</h3>

    </div>

    <div class="jumbotron">

            <form action="/login" method="POST">
                <input type="text" name="email" placeholder="Enter email"><br />
                <input type="password" name="password" placeholder="Enter password"> <br />
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Login">
            </form>

            <br />


            No account Yet? <a href="/user_registration_mongo"> Sign Up</a>

    </div>

</div>

<br />

<%- include('footer'); -%>