<%- include('header'); -%>
<%- include('navbar'); -%>



<div class="container">


    <% students.forEach(element=> { %>
            <h2 style="color:green"> <%= element.student %></h2>
    <% }) %>



</div>





<%- include('footer'); -%>