{{> header}}
{{> navbar}}



<div class="container">


    <div class="page-header">

        <h1 style="font:16px Arial;margin: 20px;color: darkgreen">
            User registration</h1>

    </div>

    <div class="jumbotron">
        <h3>
            Register Now</h3>
        <form action="/user/sign_up" method="POST" enctype="multipart/form-data">

            <input type="text" name="username" placeholder="Enter name"> <br /> <br />
            <input type="email" name="email" placeholder="Enter email"> <br /> <br />
            <input type="text" name="phone" placeholder="Enter phone Number"> <br /> <br />
            <input type="password" name="password" placeholder="Enter password"> <br /> <br />
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="btnSubmit" value="Register" />
        </form>
    </div>

</div>

{{> footer}}