{{>header}}
{{>navbar}}

<div class="all_container">

    <form action="/login/profile">

        <input type="file" name="user_image">
        <input type="submit" value="upload">
    </form>

    <p>
        <h1>Welcome to your profile {{}}</h1>

    </p>




</div>





{{> footer}}