{{> header}}
{{> navbar}}



<div class="top_cont" style="display:flex;flex-wrap:wrap">

<div style="position:relative;margin:5% 10px; width:100%;height:100%">
  <video  style="max-height:100%;max-width:100%;" src="{{vid_url}}" type="video/mp4" controls="" alt="{{vid_name}}">
    </video>
   
</div>

</div>


{{> footer}}