<h1 style="color:rgb(140, 196, 10); text-align: center; text-emphasis: shadow 3px;">Your profile will be available shortly</h1>
<h6 style="color:rgb(18, 231, 142); text-align: center; text-emphasis: shadow 3px;">our engineering are currently working on the system</h6>