{{> header}}
{{>navbar}}


<h3 style="color:rgb(160, 214, 34); text-align: center; text-emphasis: shadow 3px;">welcome to your profile</h3>




{{#if username }} 


	<h3 style="color:rgb(160, 214, 34); text-align: center; text-emphasis: shadow 3px;">{{username}} </h3>

  
{{/if}}
