<%- include('header'); -%>
<%- include('navbar'); -%>



<div class="container">


        <div class="page-header">
                <h3>  <%= user_name %></h3>
            <h1 style="font:22px Arial;margin: 20px;color: rgb(11, 10, 12)">
              your registration was successful</h1>
    
              
    
        </div>
    
    
    
    </div>











<%- include('footer'); -%>