



<div class="container">


        <div class="page-header">
                <h6> </6>
            <h1 style="font:22px Arial;margin: 20px;color: rgb(115, 45, 247)">
               your registration was succesful</h1>
             
    
               
              
    
        </div>
    
    
    
    </div>











{{>footer}}