


   

<h1 style="color:blue; text-align: center; text-emphasis: shadow 3px;">TORAMA VIDEO PORTAL</h1>




<div class="container">

	
{{#if success }} 
<h2>registration sucessful</h2>

{{else}}
{{#if errors }} 
<section class="errors">
	<ul>
		{{#each errors}} 
		<li>
			{{this.msg}}
		</li>
		{{/each}}
	</ul>
</section>
{{/if}}
  <section id="content">
		<form action="user_reg" method="POST" autocomplete="off">
		
			
			<div>
				<input type="text" placeholder="Email" required="true" id="username" name="user_email"  />
			</div>
			<div>
					<input type="text" placeholder="Username" required="true" id="username" name="user_name"  />
				</div>

				<div>
						<input type="text" placeholder="Country" required="true" id="password" name="user_country" />
					</div>
					
					
			<div>
				<input type="password" placeholder="Password" required="true" id="password" name="user_password" />
			</div>
			
			<div>
				<input type="password" placeholder="Confirm password" required="true" id="password" name="user_password2" />
			</div>
			<div>
				<input type="submit" value="create account" />
				<a href="#">Lost your password?</a>
				<a href="/">Log in</a>
			</div>
		</form><!-- form -->
		<div class="button">
			<a href="/">Torama Video Portal</a>
		</div><!-- button -->
	</section><!-- content -->
{{/if}}


	
</div><!-- container -->
