
{{>header}}
{{> navbar}}


<div id="wrapper">
 

  {{!-- <div id="page-content-wrapper"> --}}
    <div class="container align-items-center text-center pt-5 pb-2 my-5">
      <h1 class="mt-4">
        {{videoTitle}}
      </h1>
      <p class="lead">
        # of Videos {{videoFiles.length}}
      </p>

      <div id="listVideo">
        {{#each videoFiles}}
        <figure>
          <video controls src="{{this}}" type="video/mp4">
          </video>
          <figcaption>{{this}}</figcaption>
        </figure>
        {{/each}}
      </div>

    </div>

    {{!-- </div> <!--  end of page content wrapper div --> --}}


</div> <!--  end of wrapper div -->

{{> footer}}