{{!-- <i class="fas fa-home fa-2x text-light mr-auto"></i> --}}

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">

    <li class="nav-item">
      <a href="/upload" class="nav-link">
        Videos Upload
      </a>
    </li>
    <li class="nav-item">
      <a href="/videos" class="nav-link">
        Library
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/bash">Bash Programming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/html">HTML</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/linux">Linux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/javascript">Javascript</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/nodejs">Nodejs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/odoo">Odoo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/python">Python</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/java">Java</a>
    </li>

  </ul>
</div>