{{!-- <i class="fas fa-home fa-2x text-light mr-auto"></i> --}}

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    {{#if user}}
    <li class="nav-item">
      <a href="/upload" class="nav-link">
        Videos Upload
      </a>
    </li>
    <li class="nav-item">
      <a href="/videos" class="nav-link">
        Library
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bash">Bash Programming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/html">HTML</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/linux">Linux</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/javascript">Javascript</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/nodejs">Nodejs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/odoo">Odoo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/python">Python</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/java">Java</a>
    </li>
    {{/if}}
  </ul>
</div>