<div class="footer-container">
  <div class="bottom-footer">
<div class="footer-links">
    <p class="footer-headtxt">Service</p>
    <a href="#" >Training</a><br>
    <a href="#" >Software Development</a><br>
    <a href="#" >Marketing</a><br>
</div>
<div class="footer-links">
    <p class="footer-headtxt">Links</p>
    <a href="#" >Home</a><br>
    <a href="#" >About us</a><br>
    <a href="#" >Contact us</a><br>
</div>
  <div>
    <p class="footer-headtxt">Contact us</p>
<i class="fa fa-facebook" style="font-size:30px; color:darkblue"></i><br>
<i class="fa fa-twitter" style="font-size:30px; color:cadetblue"></i><br>
<i class="fa fa-instagram" style="font-size:30px; color:purple"></i><br>
</div>
</div>
<p class="footer-links">Copy Right &copy Torama 2019</p>
</div>
