 <nav id="main-navbar">
        <div class="toggle-logo">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a class="nav-link" href="/menu/bash">Bash Programming</a>
                <a class="nav-link" href="/menu/html">HTML</a>
                <a class="nav-link" href="/menu/linux">Linux</a>
                <a class="nav-link" href="/menu/javascript">javascript</a>
                <a class="nav-link" href="/menu/nodejs">Nodejs</a>
                <a class="nav-link" href="/menu/odoo">Odoo</a>
                <a class="nav-link" href="/menu/python">Python</a>
                <a class="nav-link" href="/menu/java">Java</a>
            </div>


            <button class="openbtn" onclick="openNav()">☰ </button>


            <!-- Brand/logo -->
            <a class="navbar-brand" href="/">
                <img class="torlogo" src="/images/torlogo.png" alt="logo">
            </a>

        </div>


        <div class="btn-search-container">
            <input class="search-field" type="text"><button class="btn-search"><i class="btn-i fa fa-search" style="font-size:15px"></i></button>
        </div>
        <img src=" img/search-icon.png" class="fa-search">

        <div class="login-container">
            <a class="nav-link" href="/userloggedin"> <input class="btn-login" type="button" value="Login"></a>
            <a class="nav-link" href="/userreg"><input class="btn-sign" type="button" value="Sign up"></a>
        </div>

    </nav>
