<nav id="main-navbar" class="navbar navbar-expand-sm">

        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a class="nav-link" href="menu/bash">Bash Programming</a>
            <a class="nav-link" href="menu/html">HTML</a>
            <a class="nav-link" href="menu/linux">Linux</a>
            <a class="nav-link" href="menu/javascript">javascript</a>
            <a class="nav-link" href="menu/nodejs">Nodejs</a>
            <a class="nav-link" href="menu/odoo">Odoo</a>
            <a class="nav-link" href="menu/python">Python</a>
            <a class="nav-link" href="menu/java">Java</a>
        </div>


        <button class="openbtn" onclick="openNav()">☰ </button> <br />


        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <img src="/images/torlogo.png" alt="logo" style="width:120px; height:40px;">
        </a>


        <form class="form-inline mt-2 mt-md-0 ml-auto">
            <input class="search" type="text" >
            <img class="btn-search-img" src="/images/search-icon.png">
             <input class="login-fields" type="email" class="form-fields" placeholder="Email">
                <input class="login-fields" type="password" class="form-fields" placeholder="*******">

               <a class="nav-link" href="/userloggedin"> <input class="btn-login" type="button" value="Login"></a>
                
        </form>

    </nav>