<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a class="nav-link" href="/randomvideos">Random Videos</a>
    <a class="nav-link" href="/categories/bash">Bash Programming</a>
    <a class="nav-link" href="/categories/html">HTML</a>
    <a class="nav-link" href="/categories/linux">Linux</a>
    <a class="nav-link" href="/categories/javascript">javascript</a>
    <a class="nav-link" href="/categories/nodejs">Nodejs</a>
    <a class="nav-link" href="/categories/odoo">Odoo</a>
    <a class="nav-link" href="/categories/python">Python</a>
    <a class="nav-link" href="/categories/java">Java</a>
  </div>

  <button class="openbtn" onclick="openNav()">☰ </button> <br />


 

  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    <img src="/images/torlogo.png" alt="logo" style="width:40px;">

    {{#if user}}
  <a  href="/user/profile">
    <img style="background:white;border:gray solid 1px;border-radius: 4rem; max-width: 10%;max-height: 10%;" src="/{{user.image}}"
      alt="{{user.image}}">
  </a>
  
  {{else}}

 <!-- User Login Button-->
  <a class="nav-link" href="/user/login" style="color:white">Login</a>

  {{/if}}
  </a> <br />


  <!-- Search Videos containers-->
  <form class="form-inline mt-2 mt-md-0 ml-auto" method="POST" action="/searchedvideos">
    <input class="form-control mr-sm-2" type="text" name="input_text" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="btnSubmit" value="Search" />

  </form> <br />



 
 
</nav>