
</div> <!--  end of Container div -->
<footer>
 <br /><br /> <br />
   <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://torama.ng"> Torama Technology Hub</a>
    </div>
    <!-- Copyright -->

</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="/javascripts/misc.js"></script>


</body>
</html>


