<%- include('header'); -%>
<%- include('navbar'); -%>
<%- include('sidenav'); -%>

<div id="page-content-wrapper">
  <div class="container-fluid">
    <main role="main" class="justify-content-between align-items-center pt-3 pb-2 mb-3 mx-4">
      <h1 class="mt-5">Welcome to TORAMA video Portal</h1>
      <h2> Your Location is ....</h2>
      <p class="lead"> click menu corresponding to video of your interest.</p>
    </main>
  </div>


  <%- include('footer'); -%>