<!-- <i class="fas fa-home text-dark mr-4"></i> -->

<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Library
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bash">Bash Programming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/html">HTML</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/linux">Linux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/javascript">Javascript</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nodejs">Nodejs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/odoo">Odoo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/python">Python</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/java">Java</a>
      </li>
    </ul>
  </div>