{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<div class="container-fluid bg-dark " >
      <div class=" row justify-content-between">
          <div class="col-sm-9 ml-0 pr-0 ">
            <!--carousal-->
            <div class="col d-flex flex-column flex-sm-row  ">
                    <div class="col carousel p-0 mr-1 mt-1 bg-warning text-white">Play Area </div>
                    <div class="col carousel p-0 mt-1 bg-warning text-white">carousel</div>
            </div>
            
            
            <!-- categoryvideos-->
            <div class="col text-white">Java</div>
            <div class="col d-flex my-1 p-0 newvideo">
               <div class="col newvideo bg-warning "></div>
               <div class="col newvideo bg-warning ml-1"></div>
               <div class="col newvideo bg-warning ml-1"></div>
               <div class="col newvideo bg-warning ml-1"></div>
            </div>
            
            <div class="col text-white">Python</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning "></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
            </div>

            <div class="col text-white">Node js</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning "></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
            </div>

            <div class="col text-white">Javascript</div>
            <div class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-warning "></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
                <div class="col newvideo bg-warning ml-1"></div>
            </div>
      </div>
          <div class="col-sm-2 p-0 bg-dark mr-2 ">
            <div class="col playlist bg-warning "></div>
           <!-- New videos-->
            <div class="col text-white">New </div>
            <div class="col recent mt-1 bg-warning "></div>    
          </div>
      </div>
    </div>