{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
{{>header}}
{{>navbar}}
<div class="container-fluid bg-white " >
      <div class=" row justify-content-between">
        <div class="col-sm-9 ml-0 pr-0 ">
            <!--carousal-->
     <div class="col d-flex flex-column flex-sm-row  ">
            <div class="col carousel p-0 mr-1 mt-1  text-white">
                <video src="/dak.1.mp4" controls type="video/mp4" width="100%" height="100%" ></video>    
            </div>
            {{!-- carousel --}}
            <div class="col carousel p-0 mt-1 bg-white text-white">
               <div id="car" class="carousel slide" data-ride='carousel'>
                <!--indicators-->
                <ul class="carousel-indicators">
                    <li data-target="#car" data-slide-to='0' class="active"></li>
                    <li data-target="#car" data-slide-to='1'></li>
                    <li data-target="#car" data-slide-to='2'></li>
                    <li data-target="#car" data-slide-to='3'></li>
                </ul>
                <!--images-->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="images/tor2.jpg" alt="torimg" class="d-block w-100 h-50">
                    </div>
                    <div class="carousel-item">
                    <img src="images/tor1.jpg" alt="torimg" class="d-block w-100 h-50">
                    </div>
                    <div class="carousel-item">
                    <img src="images/tor3.jpg" alt="torimg" class="d-block w-100 h-50">
                    </div>
                    <div class="carousel-item">
                    <img src="images/tor4.jpg" alt="torimg" class="d-block w-100 h-50">
                    </div>
                </div>
                <!--end of images-->
                <!--controls-->
                <a href="#car" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#car" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                </div>

            </div>
        </div>
            
            <!-- categoryvideos-->
           {{>java}}

           {{>python}}
           
           {{>nodejs}}
            
           {{>javascript}}
            
      </div>
          <div class="col-sm-2 p-0 bg-white mr-2 ">
            <div class="col playlist bg-warning "></div>
           <!-- New videos-->
            <div class="col text-dark">New </div>
            <div class="col recent mt-1 bg-warning "></div>    
          </div>
      </div>
    </div>

    {{>footer}}