<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Torama Video App (Nodejs Version) </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/my.css">
  <link rel="stylesheet" href="../stylesheets/layout.css"/>
</head>

<body class="bg-white">
  <div class="container-fluid myh bg-dark  ">
  <div class="row ">
      <nav  class=" col navbar navbar-dark bg-dark py-2 navbar-expand-sm fixed-top">
           
            <a href="#" class="navbar-brand text-uppercase" >&lt;/&gt;Torama </a>
      
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarlinks"> <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarlinks">
          <ul class="navbar-nav ">
            <li class="nav-item">    
                  <a href="#"  class="nav-link active">Home</a>
            </li>
            <li  class="nav-item">    
              <a href="#"  class="nav-link">Trending</a>
            </li>
            <li class="nav-item dropdown">    
              <a href="#"  class="nav-link dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></a>
              <ul class="dropdown-menu bg-dark">
                <li class="mx-2"><a href="/java">Java</a></li>
                <li class="mx-2"><a href="/nodejs">Node js</a></li>
                <li class="mx-2"><a href="/javascript">JavaScript</a></li>
                <li class="mx-2"><a href="/python">Python</a></li>
              </ul>
            </li>    
      </div>

      <form class="form-inline mt-2 mt-md-0 ml-auto ">
        <input type="text" class="form-control  mr-sm-2" placeholder="search" aria-label="search">
        <button class="btn btn-outline-success  ml-0 mr-2 my-2 my-sm-0" type="submit">Search</button>
        <input type="email" class="form-fields mx-2" placeholder="Email" >
        <input type="Password" class="form-fields" placeholder="**********" >
        <input type="button" value="Login">
      </form>
      </nav>
 </div>
 </div>

 <div>
    {{{body}}}
</div>

<footer>
        <br /><br /> <br />
        <!-- Copyright -->
         
        <div class="col mt-1 myhf bg-white footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://torama.ng"> <span class="fas fa-code fa-md"> Torama Innovation Hub</span></a>
        </div>
        <!-- Copyright -->

    </footer>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
 </body>
</html>
