<div class="container-fluid bg-dark " >
  <div class=" row justify-content-between">
     <div class="col-sm-9 mx-3 pr-0 ">
            <div class="col playarea bg-warning"></div>
     </div>

     <div class="col-sm-2 p-0 bg-dark mr-2 ">
         {{!-- next --}}
         <div class="col text-white">Next</div>
         <div class="col playlist bg-warning "></div>
           <!-- recommeded-->
         <div class="col text-white">Recommeded</div>
         <div class="col recent mt-1 bg-warning "></div>    
    </div>
    </div>
</div>

      