<!DOCTYPE html>

<html lang="en">

<head>

  <title>Torama Video App (Nodejs Version) </title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/my.css">
  <link rel="stylesheet" href="/stylesheets/form.css">
  <link rel="stylesheet" href="/stylesheets/jumbotron.css">
  <link rel="stylesheet" href="/stylesheets/phones.css">
  <link rel="stylesheet" href="/stylesheets/ipad.css">
  <link rel="stylesheet" href="/stylesheets/google-pixel.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="/javascripts/misc.js"></script>

</head>

<body>
