<div class="jumbotron jumbotron-fluid" id="jumbo-head">
    <div class="container welcome">
            
          
         <h1  >Welcome to Torama Videonet!</h1> 
        <h4 class="welcome2"> Your Education Portal</h4>
        
         
    </div>
   
</div>
<div class="container-fluid" id="upload-form">
        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data" action="/upload" class="upload">
                    <input type="file" name="filename">
                    <input type="submit" value="upload"  id="fsubmit" class="upload">
                </form>
            </div>
        </div>
</div>