<%- include('header'); -%>
<%- include('navbar'); -%>
<h1> Welcome to TORAMA video Portal</h1>
<h2> Your Location is  ....</h2>

<div><p>  click menu corresponding to video of your interest. </p>  <br /> Enjoy</div>

<%- include('footer'); -%>
