<div class="container-fluid bg-white">
      <div class="row justify-content-between">
          <div class="col-sm-9 ml-0 pr-0">
          
            <div class="col d-flex flex-column flex-sm-row">
                    <div class="col carousel p-0 mr-1 mt-1 bg-white text-white">
                        <video class="video-fluid z-depth-1" autoplay loop controls muted>
                            <source src="/bash/torassociates.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col carousel p-0 mt-1 bg-primary text-white">
                      <div id="car" class="carousel slide" data-ride='carousel'>
                        <!--indicators-->
                        <ul class="carousel-indicators">
                          <li data-target="#car" data-slide-to='0' class="active"></li>
                          <li data-target="#car" data-slide-to='1'></li>
                          <li data-target="#car" data-slide-to='2'></li>
                          <li data-target="#car" data-slide-to='3'></li>
                        </ul>
                        <!--images-->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/tor2.jpg" alt="torimg" class="d-block w-100 h-50">
                          </div>
                          <div class="carousel-item">
                            <img src="images/tor1.jpg" alt="torimg" class="d-block w-100 h-50">
                          </div>
                          <div class="carousel-item">
                            <img src="images/tor3.jpg" alt="torimg" class="d-block w-100 h-50">
                          </div>
                          <div class="carousel-item">
                            <img src="images/tor4.jpg" alt="torimg" class="d-block w-100 h-50">
                          </div>
                        </div>
                        <!--end of images-->
                        <!--controls-->
                        <a href="#car" class="carousel-control-prev" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#car" class="carousel-control-next" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                    </div>
            </div>
            
            
            
            <div class="col text-dark">Java</div>
            <div id="ja" class="col d-flex my-1 p-0 newvideo">
               <div class="col newvideo bg-primary">
                <a href="#ja" class="carousel-control-prev" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
               </div>
               <div class="col newvideo bg-primary ml-1"></div>
               <div class="col newvideo bg-primary ml-1"></div>
               <div class="col newvideo bg-primary ml-1">
                <a href="#ja" class="carousel-control-next" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
               </div>
            </div>
            
            <div class="col text-dark">Python</div>
            <div id="pyt" class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-primary">
                  <a href="#pyt" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                </div>
                <div class="col newvideo bg-primary ml-1"></div>
                <div class="col newvideo bg-primary ml-1"></div>
                <div class="col newvideo bg-primary ml-1">
                  <a href="#pyt" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
            </div>

            <div class="col text-dark">Node js</div>
            <div id="nod" class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-primary">
                  <a href="#nod" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                </div>
                <div class="col newvideo bg-primary ml-1"></div>
                <div class="col newvideo bg-primary ml-1"></div>
                <div class="col newvideo bg-primary ml-1">
                  <a href="#nod" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
            </div>

            <div class="col text-dark">Javascript</div>
            <div id="javas" class="col d-flex my-1 p-0 newvideo">
                <div class="col newvideo bg-primary">
                  <a href="#javas" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                </div>
                <div class="col newvideo bg-primary ml-1"></div>
                <div class="col newvideo bg-primary ml-1"></div>
                <div class="col newvideo bg-primary ml-1">
                  <a href="#javas" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
            </div>
      </div>
          <div class="col-sm-2 p-0 bg-white mr-2 ">
            <div class="col playlist bg-primary text-white">Playlist</div>
          
            <div class="col text-white">New</div>
            <div class="col recent mt-1 bg-primary"></div>    
          </div>
      </div>
    </div>

    
              
      








<!-- <h2 class="page-header">{{user.name}} Dashboard</h2>
<p>Welcome to your dashboard</p>


<p>Welcome  {{{user.username}}}</p>-->
<!--
<div class="d-flex justify-content-start tcontainer">

    <div class="section create col-lg-3 bg-dark">Create
        
        <form method="POST" action="/create"  enctype="multipart/form-data">
            <div class="form-group">
                <label for="name" class="text-white">Name of Video</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="textlHelp" 
                    placeholder="Enter name of Video">
                <small id="textlHelp" class="form-text text-white">Name you want shown in description</small>
            </div>
            <div class="form-group">
                <label for="author" class="text-white">Author</label>
                <input type="text" class="form-control" id="author" name="author" aria-describedby="textlHelp" 
                    placeholder="Enter Author">
                <small id="textlHelp" class="form-text text-white">Original Author of Video</small>
            </div>
            <div class="form-group">
                <label for="authorlink" class="text-white">Author Link</label>
                <input type="text" class="form-control" id="authorlink" name="authorlink" aria-describedby="textlHelp" 
                    placeholder="Enter Author Link">
                <small id="textlHelp" class="form-text text-white">URL of Original Author of Video</small>
            </div>
            <div class="form-group">
                <label for="description" class="text-white">Description</label>
                <input type="text" class="form-control" id="description" name="description" aria-describedby="textlHelp" 
                    placeholder="Enter Description">
                <small id="textlHelp" class="form-text text-white">Summary of Video</small>
            </div>
            
            <div class="form-group">
                <div class="form-control-prepend">
                    <label class="form-text text-light" 
                        for="categorySelect1">Category</label>
                </div>
                            
                <select class="form-control" id="categorySelect1" name="category">
                    <option selected>Choose...</option>
                    <option value="1">Node js</option>
                    <option value="2">Mongo</option>
                    <option value="3">Javascript</option>
                </select>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file"  
                       name="filename" id="filename" >
                    <label class="custom-file-label" for="filename">Choose file</label>
                </div>
            </div>
	    <input type="submit" value="submit" class="btn btn-primary btn-block">
            
        </form>
    </div>
    <div class="section read col-lg-3 bg-secondary" >Read</div>
    <div class="section update col-lg-3 bg-danger">Update</div>
    <div class="section delete col-lg-3 bg-success">Delete</div>
</div>
-->


