<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-text-width"></span>
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Linux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bash Programming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">HTML General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bootstrap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Javascript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Node.js</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Odoo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Python</a>
                </li>
            </ul>
          
        </div>
    
    </div>
</nav>