<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      
      <span class="text-muted"></span>
      <h6><a class="nav-link" href="/bash">Bash Programming</a></h6>
      <h6><a class="nav-link" href="/html">HTML</a></h6>
      <h6><a class="nav-link" href="/nodejs">Nodejs</a></h6>
      <h6><a class="nav-link" href="/linux">Linux</a></h6>
      <h6><a class="nav-link" href="/javascript">javascript</a></h6>
      <h6><a class="nav-link" href="/python">Python</a></h6>
      <h6><a class="nav-link" href="/java">Java</a></h6>
      <h6><a class="nav-link" href="/odoo0">odoo</a></h6>
      <h6><a class="nav-link" href="/django">Django</a></h6>
    </div>
    
  </div>
 
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-5" href="/">
      <img src="/images/logo.png" alt="logo" style="width:40px;">
    </a>
    <form action="http://127.0.0.1:3000/process_get" method="GET" class="form-inline mt-2 mt-md-0 ml-auto">
      <input name="searchbox" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>search</button>
    </form>
  </nav>
  
</div>












     
      