<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Torama Video Portal</h5>
      <span class="text-muted"></span>
      <h6><a class="nav-link" href="/bash">Bash Programming</a></h6>
      <h6><a class="nav-link" href="/html">HTML</a></h6>
      <h6><a class="nav-link" href="/nodejs">Nodejs</a></h6>
      <h6><a class="nav-link" href="/linux">Linux</a></h6>
      <h6><a class="nav-link" href="/javascript">javascript</a></h6>
      <h6><a class="nav-link" href="/python">Python</a></h6>
      <h6><a class="nav-link" href="/java">Java</a></h6>
      <h6><a class="nav-link" href="/odoo">odoo</a></h6>
      <h6><a class="nav-link" href="/django">Django</a></h6>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
  <input class="form-control mr-sm-2" type="search" placeholder="What are you looking for?" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>




     
      