<%- include('header'); -%>
<%- include('navbar'); -%>

    <h1 style="color:darkgreen;font-family: Verdana;font-size: 22px;"> Welcome to Torama Innovation Hub</h1>
    
<p style="color:black;font-family: Verdana;font-size: 19px;">  About Us </p>  <br />

<div><p style="color:black;font-family: Verdana;font-size: 14px;">  The innovation rules here, we are the world leading software development company. Changing and touching lives in Africa and the world. </p>  <br /></div>
    <div><p style="color:black;font-family: Verdana;font-size: 14px;">  Click on the menu and get started now. </p>  <br /></div>


</main>  



<footer>
<%- include('footer'); -%>
</footer>