{{> navbar}}

<div id="wrapper">
  {{> sidenav}}

  <div id="page-content-wrapper">
    <main role="main" class="container align-items-center text-center pt-3 pb-2 my-5">
      <p class="lead">
        {{videoDir}} Library <br>
        # of Videos {{videoList.length}}
      </p>

      <section>
        <div id="listVideo">
          {{#each videoList}}
          <figure>
            <video controls src="{{path}}" type="video/mp4">
            </video>
            <figcation> {{title}}</figcaption>
          </figure>
          {{/each}}
        </div>
      </section>


    </main>

  </div> <!--  end of page content wrapper div -->

  {{> footer}}

</div> <!--  end of wrapper div -->